<head>
  <meta charset="UTF-8">
  <title>Investor Portfolio</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
  <link rel="stylesheet" href="/css/jass.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
</head>

<body class="d-flex flex-column h-100">
    <header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-3 shadow">
      <a class="navbar-brand px-3" href="/">Investor Portfolio</a>
      <button class="navbar-toggler position-absolute d-md-none collapsed"
        type="button" data-bs-toggle="collapse"
        data-bs-target="#sidebarMenu"
        aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar-nav">
        <div class="nav-item text-nowrap">
          <!-- Conditionally render login or logout links -->
          {{#if logged_in}}
          <a href="/profile"><i class="fas fa-user"></i></a> |
          <button class="btn btn-primary" id="logout"><i class="fas fa-sign-out-alt"></i></button>          
          {{/if}}
        </div>
      </div>
    </header>

    <main class="container d-flex align-items-center justify-content-between" id="main">
      {{{ body }}}
    </main>

    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}

    <footer class="footer mt-auto py-3 bg-light">
      <div class="container">
        <span class="text-muted">&copy; Investor Portfolio</span>
      </div>
    </footer>
  </body>

</html>