<div class="add-portfolio container mt-3">
    <div class="addportfolio-form ">
        <div class="fonts-templ">
            {{!-- Name Portfolio --}}
            <h1>Create Portfolio</h1>
            <hr />
            <div class="form-group">
                <label for="portfolio name">Portfolio Name</label>
                <input type="text" class="form-control mt-2" id="portfolioName" placeholder="Enter Portfolio Name">
            </div>
            <button id="name-portfolio" type="submit" class="btn btn-primary name-btn mt-3">Save <i class="icon-arrow-right"></i></button>
        </div>
    </div>
</div>

<script src="./js/createPortfolio.js"></script>
